:root {
  --print-margin-top: 50mm;
  --print-margin-right: 20mm;
  --print-margin-bottom: 50mm;
  --print-margin-left: 20mm;
  --print-margin: var(--print-margin-top) var(--print-margin-right) var(--print-margin-bottom) var(--print-margin-left);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/lato-fontfacekit/Lato-Lig-webfont.eot"), url("./fonts/lato-fontfacekit/Lato-Lig-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/lato-fontfacekit/Lato-LigIta-webfont.eot"), url("./fonts/lato-fontfacekit/Lato-LigIta-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/lato-fontfacekit/Lato-Reg-webfont.eot"), url("./fonts/lato-fontfacekit/Lato-Reg-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/lato-fontfacekit/Lato-RegIta-webfont.eot"), url("./fonts/lato-fontfacekit/Lato-RegIta-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/lato-fontfacekit/Lato-Bol-webfont.eot"), url("./fonts/lato-fontfacekit/Lato-Bol-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/lato-fontfacekit/Lato-BolIta-webfont.eot"), url("./fonts/lato-fontfacekit/Lato-BolIta-webfont.ttf") format("truetype");
}

html {
  margin: 0rem;
  padding: 0rem;
  font-size: 12px;
}

body {
  height: 100%;
  min-height: 100%;
  max-width: 50rem;
  font-family: 'Lato', Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #3f3f3f;
}


#content {
  margin: 0.5rem;
}

#content > h1, h2, h3 {
  margin: 0.3rem 0rem 0.2rem 0rem;
}

#content * p {
  font-size: 0.9rem;
  margin: 0.4rem 0rem 0.4rem 0rem;
  line-height: 130%;
  width: 94%;
}

#content hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.5rem 0;
  padding: 0;
}

header {
  margin: 0.8rem 0 0.6rem 0;
  font-weight: 600;
}


#header {
  margin: 1.2rem 1rem;
  text-align: center;
}
#header > h1 {
  margin: 0.4rem;
}
#header > h2 {
  margin: 0.3rem;
}
#header > p {
  font-size: 0.95rem;
  margin: 0.5rem;
}
#header > p.github {
  font-size: 1.1rem;
  margin: 0.5rem;
}
#header > p.lmts {
  font-size: 1.0rem;
  margin: 0.5rem;
}

#header > p.lmts.updated {
  font-size: 0.95rem;
}

#header > div.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: left;
}

#header > div.list > ul {
  font-size: 0.92rem;
  margin-top: -0.1rem;
  margin-left: 3.2rem;
  width: 30rem;
  display: flex;
  flex-direction: row;
  flex: inherit;
  list-style: none;
}

#header > div.list > ul > li {
  margin: 0.4rem 0.1rem 0.4rem 0rem;
}

#header > div.list > ul > li:not(:first-child):not(:last-child) {
  margin-right: 0.1rem;
}

#header > div.list > ul > li:not(:first-child):not(:last-child)::after {
  margin-left: -0.1rem;
  content: ',';
}

#header > div.list > ul > li.label {
  font-weight: 600;
}

#header > div.list > ul > li > a {
  margin-left: 0.2rem;
}

#header > div.list.links > ul > li.document {
  display: none;
}

.print-only {
  display: none;
}

a:link {
  color: #3f3fcf;
}

a:visited {
  color: #3f3f89f;
}

ul {
  width: 90%;
  font-size: 0.95rem;
  list-style: '\25B8\2002' outside;
  padding: 0 1rem 0 0rem;
  margin: 0.4rem 0rem 0.4rem 0.0rem;
}

ul ::marker {
  color: rgba(128,128,128,0.7);
  font-size: 100%;
}

ul.details {
  font-size: 0.9rem;
  margin: 0.4rem 0rem 0.4rem 0.0rem;
}

li {
  margin: 0.4rem 0rem 0.4rem 1rem;
}

#content li p {
  margin-left: 0.5rem;
}

.section {
  margin: 0.4rem 0rem 0.8rem 0.5rem;
}

.project {
  margin: 1.2rem 0rem 0.8rem 0.8rem;
}

.item, .client {
  display: inline-block;
  font-family: 'Lato', georgia, times, "times new roman", serif;
  font-weight: 600;
  font-size: 0.95rem;
  font-style: normal;
  letter-spacing: 0.02rem;
  margin: 0.5rem 0rem 0.2rem 0.0rem;
}

.client > a, .item > a {
  font-family: 'Lato', georgia, times, "times new roman", serif;
  font-style: normal;
  letter-spacing: 0.02rem;
  padding-left: 0.1rem;
}


.title {
  color: #5f5f5f;
  font-family: 'Lato', georgia, times, "times new roman", serif;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.title > a {
  font-size: 90%;
  margin-left: 0.3rem;
}

h1 {
  bookmark-level: 1;
  color: #3f3f3f;
  font-family: 'Lato', georgia, times, "times new roman", serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 1.3rem;
}

h2 {
  bookmark-level: 2;
  bookmark-state: closed;
  color: #3f3f3f;
  font-family: 'Lato', georgia, times, "times new roman", serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.0rem;
}

h3 {
  bookmark-level: 3;
  bookmark-state: closed;
  color: #5f5f5f;
  font-family: 'Lato', georgia, times, "times new roman", serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

code {
  font-size: 0.95rem;
}

div.screenshot {
  max-width: 600px;
  margin: 0.8rem 0rem 0.8rem 0.8rem;
}

div.screenshot > img {
  width: 100%;
  object-fit: contain;
  border: 1px solid gray;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

div.screenshot > p {
  text-align: center;
  font-size: 90%;
  font-style: italic;
}

.shadow {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  body {
    margin: 0.5rem 1rem;
    padding: 0rem;
    max-width: 54rem;
  }

  #content {
    margin: 2rem 1rem;
  }

  #content * p {
    font-size: 0.85rem;
    margin: 0.4rem 0rem 0.4rem 0rem;
    line-height: 130%;
  }

  .title {
    font-size: 0.95rem;
  }

  ul {
    font-size: 0.85rem;
    padding: 0 2rem 0 0.5rem;
    margin: 0.4rem 0rem 0.4rem 0.0rem;
  }

  ul.details {
    font-size: 0.9rem;
    margin: 0.4rem 0rem 0.4rem 0.0rem;
  }

  li {
    margin: 0.4rem 0rem 0.4rem 1rem;
  }

  #content li p {
    margin-left: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.0rem;
  }
}


@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait),
    (min-width: 320px) and (max-width: 915px) and (max-height: 480px) and (orientation: landscape) {

  #header > h1 {
    margin: 0.4rem;
    font-size: 1.2rem;
  }

  #header > h2 {
    margin: 0.4rem;
    font-size: 1.1rem;
  }

  #header > div.list > ul {
    margin-left: 1.5rem;
  }

  #content {
      margin: 0.5rem 1.5rem;
  }

  #content * p {
    line-height: 150%;
  }

  li {
    line-height: 150%;
  }

  .with-marker ::marker {
    color: rgba(196,196,196);
  }

}

@media print {
  @page {
    size: auto;
    margin: var(--print-margin);
    margin: 2cm;
    @bottom-right {
      content: counter(page);
    }
  }

  @page :first {
    counter-reset: page;
  }

  html {
    font-size: 9.5pt;
  }

  body {
    max-width: 50rem;
  }

  .print-only {
    display: inherit;
  }

  #content {
    margin: 2rem 3rem;
  }

  #content hr {
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -ms-transform:scaleY(0.5);
    -webkit-transform:scaleY(0.5);
    transform:scaleY(0.5);
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #aaa;
    margin: 1.2rem 0;
    padding: 0;
  }

  #content hr.print-page-break {
    page-break-before: always;
    break-before: page;
    height: 0px;
    border: none;
    border-top: solid 0px #aaa;
    margin-bottom: var(--print-margin-bottom);
  }

  #content section, #content ul, #content * p {
    width: 95%;
    font-size: 0.85rem;
    margin: 0.4rem 0rem 0.4rem 0rem;
    line-height: 140%;
  }

  .title {
    font-size: 0.9rem;
  }

  .item, .client, header {
    font-size: 0.9rem;
  }

  #header > div.list > ul {
    margin-top: 0.5rem;
    flex-direction: column;
    flex: inherit;
  }

  #header > div.list > ul > li {
    margin: 0.2rem 0rem 0.2rem 0rem;
    font-weight: 500;
    width: 36rem;
  }

  #header > div.list > ul > li > a > span.print-only {
    margin-left: 0.1rem;
  }

  #header > div.list > ul > li:not(:first-child):not(:last-child)::after {
    content: '';
  }

  #header > div.list > ul > li.label {
    display: none;
  }

  #header > div.list.links > ul > li.document {
    display: initial;
  }

  ul {
    font-size: 0.85rem;
    padding: 0 2rem 0 0.5rem;
    margin: 0.4rem 0rem 0.4rem 0.0rem;
  }

  ul.details {
    font-size: 0.80rem;
    margin: 0.4rem 0rem 0.4rem 0.0rem;
  }

  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.9rem;
  }

  a {
    color: #5f5f5f;
  }

  a:link {
    color:  #5f5f5f;
    padding-left: 0.2rem;
    font-size: 100%;
  }

  a:link.item {
    padding-left: 0.4rem;
  }

}
